body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  background-color: #f8f9fa;
  padding: 20px;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

form input, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

button {
  background-color: #01060c;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #006eec;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}
